fastapi
python-dotenv
uvicorn[standard]
pydantic
celery
langchain
openai
tiktoken
yt_dlp
scenedetect[opencv]
Pillow
sentence-transformers
numpy
pytube
boto3
uuid
git+https://github.com/supabase-community/supabase-py.git@dependabot/pip/develop/python-semantic-release-8.0.4
git+https://github.com/m-bain/whisperx.git
pinecone-client==2.2.1
# supabase==1.0.3


