fastapi
python-dotenv
uvicorn[standard]
pydantic
celery
langchain
openai
tiktoken
yt_dlp
scenedetect[opencv]
Pillow
sentence-transformers
numpy
pytube
boto3
uuid
ftfy
regex
tqdm
# git+https://github.com/supabase-community/supabase-py.git@dependabot/pip/develop/python-semantic-release-7.29.1
# git+https://github.com/m-bain/whisperx.git
git+https://github.com/openai/CLIP.git
pinecone-client==2.2.1
supabase==1.0.3


